.home-content {
  min-height: 100%;
  margin-left: 200px;
  padding: 30px;
  background-color: #fff;
  :global {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 26px;
      .icon-more {
        cursor: pointer;
      }
    }
  }
}
