.sidebar {
  position: absolute !important;
  --ant-layout-sider-bg: transparent;
  width: 264px;
  height: 100%;
  padding: 12px 0;
  flex-shrink: 0;
  border-right: 1px solid #f1f1f1;
  user-select: none;
  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }
    .task-group-item {
      padding: 12px;
      border-radius: 4px 0 0 4px;
      cursor: pointer;
      &.activated {
        color: var(--ant-color-primary);
        font-weight: bold;
        background-color: #fff;
        transition: all 0.3s;
      }
      &:hover {
        color: var(--ant-color-primary);
      }
    }
    .icon-inbox,
    .icon-today {
      font-size: 18px;
      margin-right: 8px;
    }
    .count {
      margin-left: auto;
      color: #aaa;
      font-size: 12px;
      font-weight: normal;
    }
    .task-group-item.activated .count {
      color: inherit;
    }
    .project-group-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6px;
      padding: 12px;
      font-weight: bold;
      border-bottom: 1px solid #f1f1f1;
      cursor: pointer;
      .icon-arrow {
        color: #1a1a1a;
        font-size: 16px;
        margin-right: 8px;
        transform: rotate(90deg);
        transition: all 0.3s;
      }
      &.expanded .icon-arrow {
        transform: rotate(0deg);
      }
      .icon-add-project {
        font-size: 18px;
        opacity: 0;
      }
      &:hover .icon-add-project {
        opacity: 1;
        transition: all 0.3s;
      }
    }
    .project-list {
      overflow-y: auto;
      overflow-y: overlay;
      flex-grow: 1;
      .project-item {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          background-color: #f2efed;
          transition: all 0.3s;
        }
        &.activated {
          color: var(--ant-color-primary);
          background-color: #ffefe5;
        }
        .icon-circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
        .count {
          margin-left: auto;
          color: #aaa;
          font-size: 12px;
        }
        &.activated .count {
          color: #d1453b;
        }
      }
    }
  }
}
