.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  overflow: auto;
}

.layout-header {
  position: fixed;
  width: 100%;
  height: 44px;
  background: #db4c3e;
  z-index: 100;
  :global {
    .icon-logo {
      color: #fff;
      font-size: 24px;
    }
    .icon-plus {
      color: #fff;
      font-size: 26px;
      padding: 2px;
      &:hover {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }
  }
}

.layout-main {
  position: relative;
  width: 924px;
  flex: 1;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 44px;
  background: transparent;
}
