.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.layout-header {
  height: 44px;
  background: #db4c3e;
}

.layout-main {
  width: 924px;
  flex: 1;
  margin: 0 auto;
  background: #fafafa;
}
