.add-task-form {
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  :global(.ant-form-item) {
    --ant-form-item-margin-bottom: 0px;
    :global(.ant-input) {
      --ant-input-padding-block: 0px;
      --ant-input-padding-inline: 4px;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 6px 12px;
    border-top: 1px solid #e6e6e6;
  }
}

.add-task-item {
  display: flex;
  align-items: center;
  color: #808080;
  cursor: pointer;
  &:hover {
    color: #dc4c3e;
  }

  .icon-plus-outline {
    display: inline;
  }
  .icon-plus-circle-filled {
    display: none;
  }
  &:hover {
    .icon-plus-outline {
      display: none;
    }
    .icon-plus-circle-filled {
      display: inline;
    }
  }
}
